body{
    display: flex;
}
.bar{
    display: flex;
    width: 800px;
    height: 40px;
    background-color: lightgray;
    align-items: center;
    justify-content: space-between;
    padding: 4px 24px;
}

.menu_med{
    display: flex;
    justify-content: end;
    flex: 1;
    

}
img{
    position: relative;
    right: 300px;
    
}

p{
    width: 100px;
}

.logo{
    font-size: 30px;
    font-weight: 600;
}