
p, div, body{
    display: flex;

    
}

.bar{
    width: 800px;
    height: 40px;
    background-color: lightgray;
    justify-content: end;
    align-items: inherit;
    gap: 30px;

}

p{
    position: relative;
    left: 150px;
    bottom: 5px;
 
}
img{
    position: relative;
    right: 660px;
}
