
p, div, body{
    display: flex;
}

.bar{
    width: 800px;
    height: 40px;
    background-color: lightgray;
    justify-content: flex-end;    
    gap: 30px;

}

p{
    align-items: center; 
    position: relative;
    right: 20px;

}
img{
    position: relative;
    right: 320px;
    
}
